.game_container {
  /* min-height: 50vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board {
  display: grid;
  width: 300px;
  height: 300px;
  grid-template-columns: auto auto auto;
}

.board:hover {
  cursor: pointer;
}

.square {
  display: flex;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  border: 2px solid black;
  transition: background 0.2s ease-in-out;
  margin: 0;
}

.square:hover {
  background: lightgray;
}

.square > img {
  max-width: 90%;
  max-height: 90%;
  box-shadow: none;
}

/*Make the board look like a traditional tic tac toe board*/
.square:nth-child(-n + 3) {
    border-top: none;
}
.square:nth-child(3n + 1) {
    border-left: none;
}
.square:nth-child(3n + 3) {
    border-right: none;
}
.square:nth-last-of-type(-n + 3) {
    border-bottom: none;
}

/* Game over text */
.game-over {
  visibility: hidden;
  justify-content: center;
  align-items: center;
  height: 150px;
  margin-top: 20px;
}

.game-over-text {
  font-size: 30px;
  /* font-family: sans-serif; */
  /* font-weight: bold; */
  text-align: center;
}


.visible {
    visibility: visible;
}

.restart {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  /* background-color: #f2f2f2; */
  color: #333;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

.restart:hover {
  background-color: #ddd;
}
